.popup {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
}

.popup .overlay {
    opacity: 0.5;
    background: gainsboro;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.popup .content {
    padding: 66px;
    z-index: 2;
    position: relative;
    margin: 0 auto;
    display: inline-block;
}

.popup .content > div {
    display: inline-block;
}